<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>

    <dt id="email_address">Who gets to see my email address? <a href="#email_address">#</a> </dt>

    <dd><p>We will not disclose your email address to anyone unless we are obliged to by law,
        or you ask us to. This includes the department that you are sending a
        request to.  They only get to see an email address
        @<%= AlaveteliConfiguration::incoming_email_domain %> which is specific to that request.  </p>
      <p>If you send a message to another user on the site, then it will reveal your
        email address to them. You will be told that this is going to happen.</p>
    </dd>

    <dt id="nasty_spam">Will you send nasty, brutish spam to my email address? <a href="#nasty_spam">#</a> </dt>
    <dd>Nope. After you sign up to <%= site_name %> we will only send you emails
      relating to a request you made, an email alert that you have signed up for,
      or for other reasons that you specifically authorise. We will never give or
      sell your email addresses to anyone else, unless we are obliged to by law, or
      you ask us to.
    </dd>

    <dt id="public_request">Why will my name and my request appear publicly on the site? <a href="#public_request">#</a> </dt>

    <dd>
      <p>We publish your request on the Internet so that anybody can read it and
        make use of the information that you have found. We do not normally delete
        requests (<a href="#delete_requests">more details</a>).
      </p>
      <p>
        Your name is tangled up with your request, so has to be published as well.
        It is only fair, as we're going to publish the name of the officer who
        writes the response to your request. Using your real name also helps people
        get in touch with you to assist you with your research or to campaign with you.
      </p>
      <p>Under the Code on Access to Information, departments expect to know who
        is making a request. See the next question for alternatives if you do not
        want to publish your full name.
      </p>
    </dd>

    <dt id="real_name">Can I make a request using a pseudonym? <a href="#real_name">#</a> </dt>


    <dd>
      <p>Departments generally expect a real name when handling requests under the
        Code on Access to Information. A request made under an obvious pseudonym is
        more likely to be questioned or refused, and you may find it harder to ask
        for an internal review or to complain to The Ombudsman if there is a dispute.</p>

      <p>There are several good alternatives to using a pseudonym.</p>

      <ul>
        <li>Use a different form of your name. "Mr Arthur Thomas Roberts" can usually
          make a valid request as "Arthur Roberts", "A. T. Roberts", or "Mr Roberts",
          but <strong>not</strong> as "Arthur" or "A.T.R.".
        </li>
        <li>You may use any name by which you are widely known and/or regularly used.</li>
        <li>Use the name of an organisation or company.</li>
        <li>Ask someone else to make the request on your behalf.</li>
        <li>You may, if you are really stuck, ask us to make the request on
          your behalf. Please <a href="<%= help_contact_path %>">contact us</a> with
          a good reason why you cannot make the request yourself and cannot
          ask a friend to. We don't have the resources to do this for everyone.</li>
      </ul>

      <p>Please do not try to impersonate someone else.</p>

    </dd>

    <dt id="full_address">They've asked for my postal address! <a href="#full_address">#</a> </dt>

    <dd>
      <p>The Code on Access to Information does not require requesters to supply a
        postal address. An email address is a valid contact address — your request
        contains your name and a description of the information you want, which is
        what the Code requires.
      </p>
      <p>If a department insists on a postal address, you may politely point out
        that nothing in the Code requires one, and ask them to reply by email. If
        the information can only be supplied on paper, see the next question.
      </p>
    </dd>

    <dt id="postal_answer">No no, they need a postal address to send a paper response! <a href="#postal_answer">#</a> </dt>

    <dd>
      <p>If a department only has a paper copy of the information that you want,
        they may ask you for a postal address. To start with, try persuading them
        to scan the documents and send them by email — most departments can do this.</p>

      <p>If that doesn't work and you want to provide your postal address privately
        in order to receive the documents, mark your request as "They are going to
        reply by post", and the site will give you an email address to use for
        that purpose.</p>
    </dd>

    <dt id="delete_requests">Can you delete my requests, or alter my name?  <a href="#delete_requests">#</a> </dt>

    <dd>

      <p><%= site_name %> is a permanent, public archive of access to information
        requests. Even though you may not find the response to a request useful any
        more, it may be of interest to others. For this reason, we will not delete
        requests.
      </p>

      <p>Under exceptional circumstances we may remove or change your name
        on the website, <a href="#takedown">see the next question</a>.
        Similarly, we may also remove other personal information.
      </p>

      <p>If you're worried about this before you make your request,
        see the section on <a href="#real_name">pseudonyms</a>.</p>

    </dd>

    <dt id="takedown">Can you take down personal information about me? <a href="#takedown">#</a> </dt>

    <dd>

      <p>If you see any personal information about you on the site which you'd like
        us to remove or hide, then please <a href="<%= help_contact_path %>">let us know</a>.
        Specify exactly what information you believe to be problematic and why, and
        where it appears on the site.</p>

      <p>If it is sensitive personal information that has been accidentally
        posted, then we will usually remove it. Normally we will only consider
        requests to remove personal information which come from the individual
        concerned, but for sensitive information we would appreciate anyone
        pointing out anything they see.</p>

      <p>We consider that there is a strong public interest in retaining the names
        of officers of public bodies acting in the course of their duties. We will
        only remove such names in exceptional circumstances, such as where the
        disclosure of a name and position of employment would substantially risk an
        individual's safety. If you are such an official and you wish to have your
        name removed for such an urgent reason, you must supply us with a request
        to do so from your line manager. The request must demonstrate that a risk
        has been perceived which outweighs the public interest, and must demonstrate
        that efforts have been made to conceal the name on the organisation's own
        website.</p>

      <p>For all other requests we apply a public interest test to decide whether
        information should be removed. We process and publish material on this site
        for journalistic purposes, which is recognised under Hong Kong's
        <a href="https://www.pcpd.org.hk/english/data_privacy_law/ordinance_at_a_Glance/ordinance.html">Personal
        Data (Privacy) Ordinance</a> (PDPO, section 61). We cannot easily edit many
        types of attachments (such as PDFs, or Microsoft Word or Excel files), so we
        will usually ask that departments resend these with the personal information
        removed.</p>

    </dd>


  </dl>

  <p><strong>Learn more</strong> from the help for <a href="<%= help_officers_path %>">access to information officers</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
