<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority">I'm not sure which authority to make my request to, how can I find out? <a href="#which_authority">#</a> </dt>

    <dd>
      <p>It can be hard to untangle government's complicated structure, and work out
        who holds the information that you want. Here are a few tips:
      </p>
      <ul>
        <li>Browse or search <%= site_name %> looking for similar requests to yours.</li>
        <li>When you've found an authority you think might have the information, use
          the "home page" link on the right hand side of their page to check what they do
          on their website.</li>
        <li>Contact the authority by phone or email to ask if they hold the kind of
          information you're after.</li>
        <li>Don't worry excessively about getting the right authority. If you get it
          wrong, they ought to advise you who to make the request to instead.
        </li>
        <li>If you've got a thorny case, please <a href="<%= help_contact_path %>">contact us</a> for help.</li>
      </ul>

    </dd>



    <dt id="missing_body">You're missing the public authority that I want to request from! <a href="#missing_body">#</a> </dt>

    <dd>
      <p>Please <a href="<%= new_change_request_path %>">contact us</a> with the name of the public authority and,
        if you can find it, their contact email address for access to information requests.
      </p>
      <p>If you'd like to help add a whole category of public authority to the site, we'd love
        to hear from you too.
      </p>

    </dd>

    <dt id="authorities">Why do you include some authorities that aren't formally subject to the Code?<a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> lets you make requests for information to a range of
        organisations:</p>

      <ul>
        <li>Those formally subject to the <a href="https://www.access.gov.hk/">Code on Access to Information</a> (all Government bureaux and departments)</li>
        <li>Agencies including the Hong Kong Monetary Authority, Independent Commission Against Corruption, Hong Kong Housing Authority, and Privacy Commissioner for Personal Data</li>
        <li>Courts and tribunals administrative offices</li>
        <li>Those which voluntarily comply with the Code</li>
        <li>Those which aren't subject to the Code but we think should be, on grounds
          such as them having significant public responsibilities
        </li>
      </ul>

      <p>In the last case, we're using the site to advocate for expansion of the
        scope of the Code. Even if an organisation is not formally obliged to respond
        under the Code, they can still do so voluntarily.
      </p>

    </dd>

    <dt id="focused">Why must I keep my request focused?<a href="#focused">#</a> </dt>

    <dd>

      <p>
        Please put in your request only what is needed so that someone can
        easily identify what information you are asking for. Please do
        <i>not</i> include any of the following:
      </p>

      <ul>
        <li>arguments about your cause</li>
        <li>statements that could defame or insult others</li>
      </ul>

      <p>
        If you do, we may have to remove your request to avoid problems with
        libel law, which is a pain for both you and us. Short, succinct messages
        make it easier for authorities to be clear what information you are
        requesting, which means you will get a reply more quickly.
      </p>

      <p>
        If you want information to support an argument or campaign, access to
        information is a powerful tool. Although you may not use this site to
        run your campaign, we encourage you to use it to get the information you
        need. We also encourage you to run your campaign elsewhere - one effective
        and very easy way is to <%= link_to 'start your own blog',
          "http://wordpress.com/"%>.
        <% if AlaveteliConfiguration::enable_annotations %>
          You are welcome to link to your campaign from this site in an
          annotation to your request (you can make annotations after submitting
          the request).
        <% end %>
      </p>

    </dd>

    <dt id="fees">Does it cost me anything to make a request?<a href="#fees">#</a> </dt>

    <dd>

      <p>Making a request under the Code on Access to Information is free. However, you may need to pay for photocopying costs if you receive a large amount of information.</p>

      <p>Under the Code, departments may charge the prevailing standard photocopying charges:
        <ul>
          <li><strong>HK$1.5 per A4 page</strong></li>
          <li><strong>HK$1.6 per A3 page</strong></li>
        </ul>
      </p>

      <p>Information will not be released until the requisite payment has been made. Departments should inform you in advance if charges will apply and obtain your agreement before proceeding.</p>

      <p>If you're concerned about costs, you can refine your request to be more specific, which may reduce the amount of material that needs to be copied.</p>

    </dd>



    <dt id="quickly_response">How quickly will I get a response? <a href="#quickly_response">#</a> </dt>

    <dd>
      <p>Under the <a href="https://www.access.gov.hk/">Code on Access to Information</a>, departments must respond <strong>promptly</strong> to requests.
      </p>

      <p>The timeline for responses (measured in <strong>calendar days</strong>, not working days):
      </p>
      <ul>
        <li><strong>10 calendar days:</strong> You should receive either the information or an interim reply explaining why more time is needed</li>
        <li><strong>21 calendar days:</strong> This is the target time for providing the information</li>
        <li><strong>51 calendar days:</strong> Maximum time in exceptional circumstances (departments must explain the need for an extension)</li>
      </ul>

      <p><%= site_name %> will email you if you don't get a timely response. You can
        then send the department a message to remind them, and point out that they
        should comply with the Code on Access to Information.</p>

    </dd>

    <dt id="no_response">What if I never get a response?<a href="#no_response">#</a> </dt>

    <dd>
      <p>There are several things you can do if you never get a response.</p>
      <ul>
        <li>Sometimes there has been a genuine problem and the authority never
          received the request. It is worth telephoning the authority and politely
          checking that they received the request. It was sent to them by email.
        </li>
        <li>If they have not received it, the problem is most likely due to
          "spam filters". Refer the authority to the measures in the answer
          '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">I can see a request on <%= site_name %>, but we never got it by email!</a>'
          in the access to information officers section of this help.
        </li>
        <li>If you're still having no luck, then you can ask for an internal review,
          and then complain to The Ombudsman about the authority.
          Read our page '<a href="<%= help_general_path(:template => 'unhappy') %>">Unhappy about the response you got?</a>'.
      </ul>
    </dd>

    <dt id="not_satifised">What if I'm not satisfied with the response? <a href="#not_satifised">#</a> </dt>
    <dd>If you didn't get the information you asked for, or you didn't get it in time,
      then read our page '<a href="<%= help_general_path(:template => 'unhappy') %>">Unhappy about the response you got?</a>'.
    </dd>

    <dt id="reuse">It says I can't re-use the information I got!<a href="#reuse">#</a> </dt>
    <dd>
      <p>Authorities may add statements about copyright or restrictions on re-use of information.
      </p>

      <p>You can, of course, write articles about the information or summarise it, or
        quote parts of it. We believe that government information should be freely available
        for republication, as we do on this site, to promote transparency and accountability.</p>

      <p>If you have specific questions about copyright restrictions, you may wish to seek
        legal advice or contact the department directly for clarification.</p>

    </dd>

    <dt id="code_details">Can you tell me more about the Code on Access to Information? <a href="#code_details">#</a> </dt>

    <dd>
      <p>The Code on Access to Information was introduced in 1995 and is an <strong>administrative code</strong>, not legislation. This means:
      </p>

      <ul>
        <li>It establishes procedures and expectations for government departments</li>
        <li>Compliance is administrative rather than legally enforceable</li>
        <li>Appeals go to The Ombudsman (申訴專員), not to courts</li>
        <li>There is no statutory right to information as in some other jurisdictions</li>
      </ul>

      <p>You can find the full text of the Code and guidelines at the
        <a href="https://www.access.gov.hk/">official Code on Access to Information website</a> (available in English and Chinese).</p>

      <p>Part 2 of the Code lists the <a href="https://www.access.gov.hk/en/codeonacctoinfo/part2.html">exemptions and refusal categories</a> that departments may use to withhold information.</p>

    </dd>

    <dt id="data_protection">Can I request information about myself? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>No. Requests made using <%= site_name %> are public, made under the Code on Access to
        Information, and cannot help you find information about a private
        individual.</p>

      <p>If you would like to know what personal data a public authority or private
        organisation holds about yourself, you should make a "Data Access Request" in
        private under Hong Kong's <a href="https://www.pcpd.org.hk/">Personal Data (Privacy) Ordinance</a>.
        You can find guidance on the <a href="https://www.pcpd.org.hk/english/data_access_request/data_access_request.html">Privacy Commissioner's website</a>.</p>

      <p>If you see that somebody has included personal information, perhaps
        unwittingly, in a request, please <a href="<%= help_contact_path %>">contact us</a>
        immediately so we can remove it.</p>
    </dd>


    <dt id="private_requests">I'd like to keep my request secret! (At least until I publish my story) <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %> is currently only designed for public requests. All
        responses that we receive are automatically published on the website for anyone
        to read.  </p>
      <p>You should contact the public authority directly if you would like to
        make a request in private. If you're interested in a system which helps
        you manage access to information requests privately, then <a href="<%= help_contact_path %>">contact us</a>.
      </p>
    </dd>

    <dt id="multiple">Can I make the same request to lots of authorities, e.g. all bureaux? <a href="#multiple">#</a> </dt>

    <dd>We ask you to first send a test version of your request to a few
      authorities. Their responses will help you improve the wording of your request,
      so that you get the best information when you send the request to all of
      the authorities. There is currently no automated system for sending the request
      to the other authorities, you must copy and paste it by hand.

    </dd>

    <dt id="offsite">I made a request off the site, how do I upload it to the archive?<a href="#offsite">#</a> </dt>

    <dd><%= site_name %> is an archive of requests made through the site,
      and does not try to be an archive of all access to information requests. We'll never support uploading
      other requests. For one thing, we wouldn't be able to verify that other
      responses actually came from the authority. If this really matters to you,
      you can always make the same request again via <%= site_name %>.
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">How do you moderate request annotations? <a href="#moderation">#</a> </dt>

      <dd>
        <p>Annotations on <%= site_name %> are to help
          people get the information they want, or to give them pointers to places they
          can go to help them act on it. We reserve the right to remove anything else.
        </p>
        <p>Endless, political discussions are not allowed.
          Post a link to a suitable forum or campaign site elsewhere.</p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_privacy_path %>">your privacy</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
